img {
  position: relative;
  left: 0px;
  top: 0px;
  z-index:996;
}
.gopi h1{
	z-index:997;
	position:absolute;
	color:white;
}

.visible{
	background-color:yellow;
	overflow:visible;
}
.hidden{
	border:2px solid yellow;
	width:50%;
	height:30px;
	overflow:hidden;
}
.scroll{
	border:2px solid yellow;
	width:50%;
	height:8rem;
	overflow:scroll;
}
.auto{
	border:2px solid yellow;
	width:50%;
	height:8rem;
	overflow:auto;
}