.static{
	position:static;
}
.absolute{
	position:absolute;
	border:2px solid blue;
}
.relative{
	position:;
	border:2px solid blue;
}

div.rel {
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid blue;
  background-color:green;
} 

div.abs {
  position:absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid blue;
  background-color:pink
}

div.sticky {
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: gray;
  border: 2px solid black;
}

div.fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height:100px;
  background-color:pink;
  border: 3px solid #73AD21;
}